*{
    box-sizing: border-box;
}
/* Aligning timer and changing weight */
#timer{
    margin-left: 65%;
    font-weight: bold;
    color: firebrick;
}

#title, #intro {
    margin-left: 35%;
}

#card-quiz p {
    font-size: 130%;
    

}
.btn {    
    background-color: blueviolet;
    color: white;
    margin-left: 35% !important;
    margin-right: 1%;
}
h3 {
    font-style: italic;
    margin-left: 35%;
    color: darkslategrey;
}
input {
    margin-left: 35% !important;
}
#clear-btn {
    background-color: blueviolet;
    color: white;
}
